# Step 1: Import Pandas

In [2]:
import pandas

# Step 2: Declare Variables

In [32]:
Names = ['Ann', 'Jane', 'Joan', 'Clare', 'Elizabeth','Charles','Jude','James','Kelvin','Prosper']
Age = [14,16,14,17,16,15,16,16,17,14]
Height =[5.5,6,5.4,5.9,5.6,5.7,5.9,5.8,6.1,5.9]
Scores = [80,85,70,60,76,85,74,87,75,68]
Gender = ['F','F','F','F','F','M','M','M','M','M']

# Step 3: Create a dictionary object containing the observations

In [33]:
tabl = {'Names: ' : Names, 'Age: ':Age, 'Height: ': Height, 'Scores: ': Scores,'Gender: ': Gender}

In [34]:
tabl

{'Names: ': ['Ann',
  'Jane',
  'Joan',
  'Clare',
  'Elizabeth',
  'Charles',
  'Jude',
  'James',
  'Kelvin',
  'Prosper'],
 'Age: ': [14, 16, 14, 17, 16, 15, 16, 16, 17, 14],
 'Height: ': [5.5, 6, 5.4, 5.9, 5.6, 5.7, 5.9, 5.8, 6.1, 5.9],
 'Scores: ': [80, 85, 70, 60, 76, 85, 74, 87, 75, 68],
 'Gender: ': ['F', 'F', 'F', 'F', 'F', 'M', 'M', 'M', 'M', 'M']}

In [35]:
tabl = pandas.DataFrame(tabl)

In [36]:
tabl

     Names:   Age:   Height:   Scores:  Gender:
0        Ann     14       5.5        80        F
1       Jane     16       6.0        85        F
2       Joan     14       5.4        70        F
3      Clare     17       5.9        60        F
4  Elizabeth     16       5.6        76        F
5    Charles     15       5.7        85        M
6       Jude     16       5.9        74        M
7      James     16       5.8        87        M
8     Kelvin     17       6.1        75        M
9    Prosper     14       5.9        68        M

In [37]:
tabl.to_excel('tabl.xlsx')