# Lists, Dictionary & Tuples - Ehiane

# Lists

In [3]:
#list_a is the list of six even numbers
list_a = [2,4,6,8,10,12]
print('This is list_a: ',list_a)

This is list_a:  [2, 4, 6, 8, 10, 12]

In [4]:
#list_b is a list of vowels
list_b = ['a','e','i','o','u']
print('This is list_b: ', list_b)

This is list_b:  ['a', 'e', 'i', 'o', 'u']

In [5]:
#list_c is the list of mixed data types 
>>> list_c = [56.9,100,"fg.wht"]
>>> print('This is list_c: ',list_c)

This is list_c:  [56.9, 100, 'fg.wht']

In [6]:
#list_d is the list of lists called nested list
list_d = [['Ehiane',2021], ['Ehiane',2020],['Ehiane',2019]]
print('This is list_d: ',list_d)

This is list_d:  [['Ehiane', 2021], ['Ehiane', 2020], ['Ehiane', 2019]]

# Accessing Elements in a List

In [19]:
#initializes a list called list_a
list_a = [2,4,6,8,10,12]
list_a[0] # returns the element of list_a
list_a[3]#returns the element of list_a
#if i call list_a[15] it'll print error because the list called...
#...is out of range of the elements in the list
# an expression resulting in an integer index
list_a[1+3] #gets the 5th position of the elemenrt, because 1+3 =4 and 4 is..
#.. the the 5th position.

list_a[-1] #returns the last number or first number from the right.

#to get the length of the list:
l= len(list_a)
print(l)

#return the last element of list_a
list_a[l-1]

#return the first element of list_a
list_a[-l]

6

2

# Lists are mutable

In [21]:
#List of list_x of colors
list_x = ['Red','Green','Blue','Orange']

#change/override the fourth element of list_x
list_x[3] = 'Purple'
list_x #print the modified list list_x

['Red', 'Green', 'Blue', 'Purple']

# List Operations

# 1. Concatenation

In [23]:
#list_k is a list of first five odd integers
list_k = [1,3,5,7,9]

#list_q is list of first five even integers 
list_q = [2,4,6,8,10]

#elements of list_k followed by list_q
list_k + list_q

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [25]:
list3= ['Red','Green','Blue']
list4=['Cyan','Magenta','Yellow','Black']
list3 + list4

['Red', 'Green', 'Blue', 'Cyan', 'Magenta', 'Yellow', 'Black']

# 2. Repition

In [27]:
list1 = ['Hello']
#elements of list1 repeated 4 times
list1 * 4

['Hello', 'Hello', 'Hello', 'Hello']

# 3. Membership

In [28]:
list1 = ['Red','Green', 'Blue']

In [30]:
'Green' in list1

True

In [31]:
'Cyan' in list1

False

In [32]:
list1 = ['Red','Green','Blue']

In [33]:
'Cyan' not in list1

True

In [34]:
'Green' not in list1

False

# 4.Slicing

In [35]:
list1 = ['Red', 'Green','Blue','Cyan','Magenta','Yellow','Black']

In [36]:
list1[2:6]

['Blue', 'Cyan', 'Magenta', 'Yellow']

In [38]:
#second index is out of range

list1[2:20]

['Blue', 'Cyan', 'Magenta', 'Yellow', 'Black']

In [40]:
list1[7:2]

[]

In [43]:
#slicing with a given step size

list1[0:6:2]

['Red', 'Blue', 'Magenta']

In [46]:
#negative indexes 
#elements at index -6,-5,-4,-3 are sliced

list1[-6:-2]

['Green', 'Blue', 'Cyan', 'Magenta']

In [48]:
#step size 2 on entire list

list1[::2]

['Red', 'Blue', 'Magenta', 'Black']

In [49]:
#negative step size 
#whole list in the reverse order

list1[::-1]

['Black', 'Yellow', 'Magenta', 'Cyan', 'Blue', 'Green', 'Red']

# Traversing a List

# (A) List Traversal Using for Loop:

In [51]:
list1 = ['Red','Green','Blue','Yellow', 'Black']

In [53]:
for item in list1:
    print(item)

Red
Green
Blue
Yellow
Black

In [55]:
# Another way

for i in range(len(list1)):
    print(list1[i])

Red
Green
Blue
Yellow
Black

# (B)List Traversal Using while Loop:

In [56]:
list1 = ['Red','Green','Blue','Yellow','Black']
i = 0
while i < len(list1):
    print(list1[i])
    i += 1

Red
Green
Blue
Yellow
Black

# Method Description Example

## len(): Returns the length of the list passed as the argument.

In [1]:
list1 = [10,20,30,40,50]
len(list1)

5

### list(): Creates an empty if no argument is passed

In [2]:
list1 = list()
list1

[]

#### list(): Creates a list if a sequence is passed as an argument

In [3]:
str1 = 'aeiou'
list1= list(str1)
list1

['a', 'e', 'i', 'o', 'u']

### Other Built-in functions (Methods) for list manipulative

#### append(): Appends a single element passed as an argument at the end of the list. The single element can also be a list.
#### extend(): Appends each element of the list passed as argument to the end of the given list

#### insert(): Inserts an element at a particular index in the list

#### count(): Returns the number of times a given element appears in the list

#### index(): Returns index of the first occurrence of the element in the list. If the element is not present, ValueError is generated

#### remove(): Removes the given element from the list. If the element is present multiple times, only the first occurrence is removed. If the element is not present, then ValueError is generated

#### pop(): Returns the element whose index is passed as parameter to this function and also removes it from the list. If no parameter is given, then it returns and removes the last element of the list

#### reverse(): Reverses the order of elements in the given list

#### sorted(): It takes a list as parameter and creates a new list consisting of the same elements arranged in sorted order

#### min(): Returns minimum or smallest element of the list

#### max(): Returns maximum or largest element of the list

#### sum(): Returns sum of the elements of the list

## Dictionaries

In [5]:
#dict1 is an empty Dictionary created 
#curly braces are used for dictionary
dict1 = {}
dict1

{}

In [6]:
#dict2 is the dictionary that maps names
#of the studentd to respective marks in
#percentage

dict2 = {'Mohan':95,'Ram':89,'Suhel':92,'Sangeeta':85}
dict2

{'Mohan': 95, 'Ram': 89, 'Suhel': 92, 'Sangeeta': 85}

## Accessing Items in a Dictionary

In [7]:
dict2['Ram']

89

In [8]:
dict2['Sangeeta']

85

In [9]:
#the key does not exist
dict2['Shaym']

KeyError: 'Shaym'

# Dictionaries are Mutable

### Adding a new item

In [11]:
dict1 = {'Mohan':95, 'Ram':89, 'Suhel':92,'Sangeeta':85}

#Marks of suhel changed to 93.5
dict1['Suhel'] = 93.5
dict1

{'Mohan': 95, 'Ram': 89, 'Suhel': 93.5, 'Sangeeta': 85}

# Dictionary Operations

### 1.Membership

In [12]:
dict1 = {'Mohan':95, 'Ram':89, 'Suhel':92,'Sangeesta':85}

In [13]:
for key in dict1:
    print(key,':',dict1[key])

Mohan : 95
Ram : 89
Suhel : 92
Sangeesta : 85

# Tuples

In [1]:
# tuple1 is the tuple of integers 
tuple1= (1,2,3,4,5)
tuple1

(1, 2, 3, 4, 5)

In [2]:
#tuple2 is the tuple of mixed data types
tuple2 = ('Economics',87,'Accountancy',89.6)
tuple2

('Economics', 87, 'Accountancy', 89.6)

In [3]:
#tuple3 is the tuple with list as an element
tuple3 = (10,20,30,[40,50])
tuple3

(10, 20, 30, [40, 50])

In [4]:
#tuple4 is the tuple with tuple as an element
tuple4 = (1,2,3,4,5,(10,20))
tuple4

(1, 2, 3, 4, 5, (10, 20))

In [5]:
type(tuple3)

tuple

In [6]:
type(tuple4)

tuple

In [8]:
type(tuple3[0])

int

## Accessing Elements in a Tuple

In [10]:
#initializes a tuple called tuple1
tuple1 = (2,4,6,8,10,12)

In [11]:
#returns the first element of tuple1
tuple1[4]

10

In [12]:
#returns error as index is out of range
tuple[15]

TypeError: 'type' object is not subscriptable

In [13]:
#returns first element from the right
tuple1[-1]

12

# Tuple is Immutable

In [14]:
tuple1 = (1,2,3,4,5)
tuple1[4] = 10

TypeError: 'tuple' object does not support item assignment

In [15]:
#However an element of a tuple maybe of mutable type, e.g., a list.

#4th element of the tuple2 is a list
tuple2 = (1,2,3,[8,9])

#modify the list element of tuple tuple3
tuple2[3][1] =10

#modification is reflected in tuple2
tuple2

(1, 2, 3, [8, 10])

## Tuple Operations

## 1. Concatenation

In [16]:
#concatenates two tuples

tuple1 = (1,2,3,5,7,9)
tuple2 = (2,4,6,8,10)
tuple1 + tuple2

(1, 2, 3, 5, 7, 9, 2, 4, 6, 8, 10)

In [17]:
tuple3= ('Red','Green','Blue')
tuple4=('Cyan','Magenta','Yellow','Black')

#tuple5 stores elements of tuple3 and tuple4

tuple5 = tuple3 + tuple4
tuple5

('Red', 'Green', 'Blue', 'Cyan', 'Magenta', 'Yellow', 'Black')

###### Concatenation operator can also be used for extending an existing tuple. When we extend a tuple using concatenation a new tuple is created.

In [18]:
tuple6 = (1,2,3,4,5)

#single element is append to tuple6
tuple6 = tuple6 + (6,)
tuple6

(1, 2, 3, 4, 5, 6)

In [19]:
#more than one elements are appended
tuple6 = tuple6 + (7,8,9)
tuple6

(1, 2, 3, 4, 5, 6, 7, 8, 9)

### 2.Repetion

In [21]:
tuple1 = ('Hello','world')
tuple1 * 3

('Hello', 'world', 'Hello', 'world', 'Hello', 'world')

In [22]:
#tuple with single element
tuple2 = ("Hello",)
tuple2 * 4

('Hello', 'Hello', 'Hello', 'Hello')

#### 3.Membership

In [23]:
#The in operator checks if the element is present in the tuple and returns True,
#else it returns False.

tuple1 = ('Red','Green','Blue')
'Green' in tuple1

True

### 4.Slicing

In [25]:
#Like string and list , slicing can be applied to tuples

#tuple1  is a tuple 
tuple1 = (10,20,30,40,50,60,70,80)

In [27]:
#elements from index 2 to index 6
tuple1[2:7]

(30, 40, 50, 60, 70)

In [28]:
#all elements of tuple are printed 
tuple1[0:len(tuple1)]

(10, 20, 30, 40, 50, 60, 70, 80)

In [29]:
#slice starts from zero index 
tuple1[:5]

(10, 20, 30, 40, 50)

In [30]:
#slice is till end of tuple
tuple1[2:]

(30, 40, 50, 60, 70, 80)

In [31]:
#step size 2
tuple1[0:len(tuple1):2]

(10, 30, 50, 70)

In [32]:
#negative indexing
tuple1[-7:-4]

(20, 30, 40)

In [33]:
#tuple is traversed in reverse order 
tuple1[::-1]

(80, 70, 60, 50, 40, 30, 20, 10)

# Take - Away I

In [3]:
# 1. len() :
g = ('green','goth')
len(g)
#2. max() :
max(g) # printed first element == 'green'
n= (2,3,5,6)
max(n)

6

In [5]:
xc= [3,4,6,9,10,11,12]
xc[-6:-2]

[4, 6, 9, 10]